@tailwind base;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #4e596c #2d3748;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: #2d3748;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #4a5568;
    border-radius: 14px;
}
@tailwind components;
@tailwind utilities;
